
<h1>Sign in</h1>

<%= link_to('Home', root_path) %><br />
<div class = "container">
  <div class="row">
    <div class="col-md-5 col-md-offset-4" style="width: 33%; flex: 0 0 33%;max-width: 33%;">
      <%= form_for(:session) do |f| %>
        <div class="col">
          <%= f.label :email %>
          <%= f.text_field :email %>
        </div>
        <div class = "col">
          <%= f.label :password %>
          <%= f.password_field :password %>
        </div>

        <div class = "col">
          <%= f.submit "Sign in", :class => "btn btn-primary" %>
        </div>
      <% end %>
    
      <p> New user? <%= link_to "Sign up now!", sign_up_path %></p>
    </div>
  </div>
</div>

