<div class="record-row <%= cycle "odd", "even", name: "row-cycler" %> flexbox vertical stretch">
  <%= station.identifier %>: <%= station.name %> (<%= station.address %>) <%= station.docked_bike_count %>

<div class='alert-info'>
<br>From: </br><%
 <br>To: </br> 
 <br>Biking distance: </br> 
 <br>Duration : </br><br></br></div>      
        <%=link_to "Ride", checkout_path, class: 'btn btn-info btn-lg' %>
        <button class="btn btn-info btn-lg "><i class="fas fa-map-signs"></i>QR Code</button>
</div>