<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      Welcome to our website : <em> ValetBike </em>!
    </div>  
    <div>
      <%= link_to('Home', { action: 'index'} ) %><br />
      <%= link_to('About', { action: 'about'} ) %><br />
       <%= link_to('Signup', users_path ) %><br />
    <div>
    <div class="flexbox vertical stretch">
      <% if @stations.present? %>
        <%= render(partial: "stations/row", collection: @stations, as: :station) %>
      <% else %>
      <div class="empty">
        No stations found.
      </div>
      <% end %>
      
       <% if @bikes.present? %>
        <%= render(partial: "stations/bikerows", collection: @bikes, as: :bike) %>
      <% else %>
      <div class="empty">
        No bikes found.
      </div>
      

      <div id="container">
        <div id = "map">map</div>
      </div>

      
      <script>
       

        function initMap(position){
          let mapOptions = {
            // center: {lat: lat,lng: lng},
            center: {lat: 41.881832,lng:-87.623177},
            zoom: 12
          }

          let map = new google.maps.Map(document.getElementById('map'), mapOptions);

        }

      </script>
      
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmQ9jBUgZiQkW75d5wN72Qurl3bRjD6Eg&callback=initMap"></script>

      <% end %>

    </div>
	</div>
</div>
