
<div class=header_out></div>
  <div class="header">
    <h1>Ride With the Wind, Share Your Freedom</h1>
  </div>
<div>      
<ul class = "navbar">
  <%= link_to('Home', root_path ) %>
  <%= link_to('Back to Sign In', sign_in_path ) %>
</ul>
</div>

<div class="main">
<h1 style="text-align:center"> Sign up</h1>





<div class="row">
  <div class="col-md-5 col-md-offset-4" style="width: 33%; flex: 0 0 33%;max-width: 33%;">
  <%= form_for(@user, data: { turbo: false })  do |f| %>

    <%= render 'shared/error_messages', object: f.object%> 
    
      <div>
        <%= f.label :first_name %>
        <%= f.text_field :first_name, class: 'form-control' %>
      </div>
      

      <div>
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class: 'form-control' %>
      </div>

      <div>
        <%= f.label :username %>
        <%= f.text_field :username, class: 'form-control' %>
      </div>      

      
      <div>
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>
      
      <div >
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>

      </div>
      <div>
        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation , class: 'form-control'%>
        <li id = "pass">
            <div>Password <em> Must Contain</em></div>
            <div># a digit</div>
            <div># a lower case character</div>
            <div># an upper case character</div>
            <div># a symbol</div>
          </li>
      </div>

        
      <%= f.submit "Create account", class: "btn btn-primary" %>
     
    <% end %>
   
    </div>
</div>

</div>

<div class="footer">Footer</div>