
<h1> Sign up</h1>

<div>      
<ul class = "navbar">
  <%= link_to('Home', root_path ) %>
  <%= link_to('Back to Sign In', sign_in_path ) %>
</ul>
</div>



<div class="row">
  <div class="col-md-4 " style="width: 100%; flex: 0 0 100%;max-width: 100%;">
  <%= form_for(@user)  do |f| %>

    <%= render 'shared/error_messages', object: f.object%> 
    
      <div>
        <%= f.label :first_name %>
        <%= f.text_field :first_name, class: 'form-control' %>
      </div>
      

      <div>
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class: 'form-control' %>
      </div>

      <div>
        <%= f.label :username %>
        <%= f.text_field :username, class: 'form-control' %>
      </div>      

      
      <div>
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>
      
      <div >
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>

      </div>
      <div>
        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation , class: 'form-control'%>
        <li id = "pass">
            <div>Password <em> Must Contain</em></div>
            <div># a digit</div>
            <div># a lower case character</div>
            <div># an upper case character</div>
            <div># a symbol</div>
          </li>
      </div>
     

        
      <%= f.submit "Create account", class: "btn btn-primary" %>
     
    <% end %>
   
    </div>
</div>

