<!DOCTYPE html>
<html>
<%# link to css and bootstrap stylesheet %>
<head>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dancing Script">
      <title>ValetBike: Small Freedom with Two Wheels</title>
</head>

<body>
  <div class ="header">
    <div class="inner_header">
      <div class="logo_container">
        <img class= "logo" src="assets/bike.png" alt="valet bike logo">
        <a class="navbar_logo"><%= link_to('VALETBIKE', root_path, class: 'index-link')%></a>
          
        
      </div>
      <ul class="navigation">
        <%= link_to('About', about_path, class: 'index-link') %> 
        <%= link_to('Service', service_path, class: 'index-link')  %>

        <% if logged_in? %>
          <%= link_to('Profile', current_user, class: 'index-link') %>
          <%= link_to('Log Out', logout_path, class: 'index-link') %>
          
        <% else %>
          <%= link_to('Log in', sign_in_path, class: 'index-link') %>
          <%= link_to('Sign up', sign_up_path, class: 'index-link') %>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="panel_for_welcome_message">
    <div class="welcome_message"><h1></h1></div>  
  </div>

  <div class ="header">
    <div class="inner_header">
      <div class="logo_container">
        <img class= "logo" src="assets/bike.png" alt="profile img ">
        <a class="navbar_logo"><h1><%= @user.first_name%> <%= @user.last_name%></h1></a>
      </div>
      <ul class="navigation">
        <%= link_to('Account', current_user, class: 'index-link') %> 
        <%= link_to('Membership', membership_path, class: 'index-link')  %>
        <%= link_to('Billing', billing_path, class: 'index-link') %>
        <%= link_to('My Trip', trip_path, class: 'index-link') %>
      </ul>
    </div>
  </div>

  <div class="border_box">
    <section></section>
    <div class="spacer"></div>
    <div class="boarder_box">
      <div class="boarder_box title_box">
        <span class="title">Account Information</span>
          <p><%=link_to "Edit", edit_user_path, class: 'btn btn-info btn-lg' %></p>
      </div>
      <table summary="Task detail view">
      <tr>
        <th>First Name</th>
        <td><%= @user.first_name %></td>
      </tr>
      <tr>
        <th>Last Name</th>
        <td><%= @user.last_name %></td>
      </tr>
      <tr>
        <th>Email</th>
        <td><%= @user.email %></td>
      </tr>
      <tr>
      <th>Membership</th>
        <td><%= link_to('Membership', membership_path ) %></td>
      </tr>

  </table>
    
    </div>
  
  </div>

  



  
  



  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </div>

</body>
</html>


