<!DOCTYPE html>
<html>
<%# link to css and bootstrap stylesheet %>
<head>
      <%# <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> %>
      <title>ValetBike: Small Freedom with Two Wheels</title>
</head>

<body>

  <%# navigation bar%>
  <div class="navbar">
    <%= link_to('Home', root_path) %>
    <%= link_to('About', about_path) %>
    <%= link_to('Service', service_path)%>
    <% if logged_in? %>
      <%= link_to('Log Out', logout_path, class: "right") %>
      <%= link_to('Profile', current_user, class: "right") %>
      <% else %>
      <%= link_to('Log in', sign_in_path, class: "right") %>
      <%= link_to('Sign up', sign_up_path, class: "right") %>
    <% end %>
  </div>

  <%# header and slogan %>
  <div class=header_out></div>
  <div class="header">
    <h1>Ride With the Wind, Share Your Freedom</h1>
  </div>

  <div class="row">
  <div class="side">
    <h2><%= current_user.first_name%> <%= current_user.last_name%></h2>

    <%# list %>
    <div class="station-list">
        <div class="fakeimg" style="height:60px;"><%= link_to('Account', current_user) %></div><br>
        <div class="fakeimg" style="height:60px;"><%= link_to('Billing', current_user) %></div><br>
        <div class="fakeimg" style="height:60px;"><%= link_to('Membership', membership_path) %></div><br>
        <div class="fakeimg" style="height:60px;"><%= link_to('My Trip', mytrip_path ) %></div>
    </div>  
  </div>



  <div class="main"> 
    <br>
      Stripe customer id:
      <%= current_user.stripe_customer_id %>
      <br>


        <span class="title">Account Information</span>
          <p><%=link_to "Edit", edit_user_path, class: 'btn btn-info btn-lg' %></p>

      <table summary="Task detail view">
      <tr>
        <th>First Name</th>
        <td><%= @user.first_name %></td>
      </tr>
      <tr>
        <th>Last Name</th>
        <td><%= @user.last_name %></td>
      </tr>
      <tr>
        <th>Email</th>
        <td><%= @user.email %></td>
      </tr>
      <tr>
      <th>Membership</th>
        <td><%= link_to('Membership', membership_path ) %></td>
      </tr>

  </table>
    
    </div>
  
  </div>
  

<div class="footer"><h2>Footer</h2></div>

</body>

</html>


