
<h2>Profile</h2>
Hi,<%=@user.first_name%>
<%=link_to('Home', root_path)%>

<table summary="Task detail view">
    <tr>
      <th>First Name</th>
      <td><%= @user.first_name %></td>
    </tr>
    <tr>
      <th>Last Name</th>
      <td><%= @user.last_name %></td>
    </tr>
    <tr>
      <th>Email</th>
      <td><%= @user.email %></td>
    </tr>
    <tr>
    <th>History</th>
      <%# <td><%= @user.trips %></td>
    </tr>

  </table>

  
