
<head>

      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href="about.css">
      <title>ABOUT US: Grean Dolphin Paradise</title>
      
</head>
<body>
<div class=header></div>
  <div class ="header">
    <div class="inner_header">
      <div class="logo_container">
        <a class="navbar_logo" href="index.html"><h1>VALET<span>BIKE</span></h1></a>
      </div>
      <ul class="navigation">
        <%= link_to('Home', index_path, class: 'index-link') %> 
        <%= link_to('Service', service_path, class: 'index-link')  %>

        <% if logged_in? %>
          <%= link_to('Profile', current_user, class: 'index-link') %>
          <%= link_to('Log Out', logout_path, class: 'index-link') %>
          
        <% else %>
          <%= link_to('Log in', sign_in_path, class: 'index-link') %>
          <%= link_to('Sign up', sign_up_path, class: 'index-link') %>
        <% end %>
      </ul>
    </div>
  <div class="panel_for_welcome_message">
    <div class="welcome_message"> <h1>Meet Our Team: Green Dolphin Paradise </h1></div>  
  <div> 

      <div class="row">
  <div class="column">
    <div class="card">
      <img src="assets/cat.png" class="card-img-top"  alt="Evelyn" style="width:100%">
      <div class="container">
        <h2>Evelyn Gao</h2>
        <p class="title">title</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <a href = "mailto: ">@smith.edu</a>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="assets/game.png" class="card-img-top" alt="Sophie" style="width:100%">
      <div class="container">
        <h2>Sophie Song</h2>
        <p class="title">title</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <a href = "mailto: ">@smith.edu</a>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="assets/xiao.png" class="card-img-top" alt="Sylvia" style="width:100%">
      <div class="container">
        <h2>Sylvia Tan</h2>
        <p class="title">title</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <a href = "mailto:">@smith.edu</a>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="assets/bubble.png" class="card-img-top" alt="Xinran" style="width:100%">
      <div class="container">
        <h2>Xinran Bi</h2>
        <p class="title">Front End Developer</p>
        <p>Xinran focuses on front end development for valet bike application. Outside of work, she enjoys cooking, learning languages and drinking boba!</p>
        <a href = "mailto: xbi@smith.edu">xbi@smith.edu</a>
      </div>
    </div>
  </div>
</div>

      <%# <h1>About Us</h1>


      <div class="inner flexbox vertical sretch">
            <div class="heading"> Current Team: Green Dolphin Paradise </div>
            <div class="group first flexbox horizontal wrap center">
                  <img src= "assets/bubble.png">
                  <div class="text-section">
                        <div class="name">Xinran Bi </div>
                        <div class="bio"></div>
                  </div>
            </div>
            <div class="group first flexbox horizontal wrap center">
                  <img src= "assets/cat.png">
                  <div class="text-section">
                        <div class="name">Evelyn Gao </div>
                        <div class="bio"></div>
                  </div>
            </div>
            <div class="group first flexbox horizontal wrap center">
                  <img src= "assets/game.png">
                  <div class="text-section">
                        <div class="name">Sophie Song </div>
                        <div class="bio"></div>
                  </div>
            </div>
            <div class="group first flexbox horizontal wrap center">
                  <img src= "assets/xiao.png">
                  <div class="text-section">
                        <div class="name">Sylvia Tan </div>
                        <div class="bio"></div>
                  </div>
            </div>
      </div> %>


</body>



