<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<link rel="stylesheet" href="assets/service.css">
<title>Our service</title>
</head>

<div class=header_out></div>
  <div class ="header">
    <div class="inner_header">
      <div class="logo_container">
        <a class="navbar_logo" href="index.html"><h1>VALET<span>BIKE</span></h1></a>
      </div>
      <ul class="navigation">
        <%= link_to('Home', index_path, class: 'index-link') %> 
        <%= link_to('About', about_path, class: 'index-link')  %>

        <% if logged_in? %>
          <%= link_to('Profile', current_user, class: 'index-link') %>
          <%= link_to('Log Out', logout_path, class: 'index-link') %>
          
        <% else %>
          <%= link_to('Log in', sign_in_path, class: 'index-link') %>
          <%= link_to('Sign up', sign_up_path, class: 'index-link') %>
        <% end %>
      </ul>
    </div>
  <div class="panel_for_welcome_message">
    <div class="welcome_message"> <h1>Service </h1></div>  
  <div> 

<div>contact:</div>
<div class="skills">
        <h2>FAQ</h2>
        <div class="skill-row">
          <h3>Q1</h3>
          <p class= "language-skill-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a nunc est. Ut blandit arcu massa, eget mollis risus interdum a. Aliquam non turpis non dui gravida sodales. Donec nec dolor gravida, accumsan mauris egestas, blandit mauris. In et scelerisque turpis. Morbi luctus egestas rhoncus. Morbi quis egestas ligula, feugiat tempor mauris. Sed gravida laoreet fermentum. Proin et est malesuada, mollis elit vel, tincidunt ipsum. In euismod euismod malesuada</p>
        </div>
        <div class="skill-row">
          <h3>Q2</h3>
          <p class= "programming-skill-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a nunc est. Ut blandit arcu massa, eget mollis risus interdum a. Aliquam non turpis non dui gravida sodales. Donec nec dolor gravida, accumsan mauris egestas, blandit mauris. In et scelerisque turpis. Morbi luctus egestas rhoncus. Morbi quis egestas ligula, feugiat tempor mauris. Sed gravida laoreet fermentum. Proin et est malesuada, mollis elit vel, tincidunt ipsum. In euismod euismod malesuada.</p>
        </div>
      </div>
      <hr>

</body>
</html>