<h1>Pay your ride now!</h1>

<%# <%= render partial: 'pay/stripe/checkout_button',locals:{
    # session: @checkout_session,
    title: "Buy now"
    
}%> 
Bike: <%= @bike.identifier%>
 <% if logged_in? %>
<form action="/create-checkout-session" method="POST">
        <button type="submit" class="btn btn-primary" id="checkout-button">Checkout</button>
</form>
        <div id="start"><%=link_to "My Trip", mytrip_path%></div>
        <%= @bike.in_use %>
        <%= current_user.id %>
    <%if @bike.in_use == true %>
        <div id="return"><%=link_to "Return", current_user%></div>
    <%end%>
<%else%>
   <div>Please <%=link_to "sign in", sign_in_path%> to pay</div>
<%end%>

