<!--<header class="navbar navbar-fixed-top navbar-inverse">
 <div class="container">
  <%= link_to "sample app", root_path, id: "logo" %>
 <nav>
 <ul class="nav navbar-nav navbar-right">
 <li><%= link_to "Home", root_path %></li>
 <li><%= link_to "Help", help_path %></li>
  <% if logged_in? %>
 <li><%= link_to "Users", '#' %></li>
 <li class="dropdown">
 <a href="#" class="dropdown-toggle" data-toggle="dropdown">
 Account <b class="caret"></b>
 </a>
 <ul class="dropdown-menu">
 <li><%= link_to "Profile", current_user %></li>
 <li><%= link_to "Settings", '#' %></li>
 <li class="divider"></li>
 <li>
  <%= link_to "Log out", logout_path, method: "delete" %>
 </li>
 </ul>
 </li>
  <% else %>
 <li><%= link_to "Log in", login_path %></li>
  <% end %>
 </ul>
 </nav>
 </div>
</header>-->

<%# <nav class ="header">
    <div class="navbar_logo">
        <a class="logo" href="index.html"><h1>VALET<span>BIKE</span></h1></a>
    </div>

    <div class="navbar_menu">
        <ul class="navigation">
        <a href="#about" role="button"><li>ABOUT</li></a>
        <a href="#Services" role="button"><li>SERVICES</li></a>
        <a href="/sign_in" role="button"><li>LOG IN</li></a>
        <a href="/sign_up" role="button"><li>SIGN UP</li></a>
        </ul>
    </div>
</nav> %>


<div class=header_out></div>
<div class="header">
  <h1>My Website</h1>
  <p>A <b>responsive</b> website created by me.</p>
</div>

<div class="navbar">
  <a href="#" class="active"><%= link_to('About', about_path) %></a>
  <a href="#">Link</a>
  <a href="#">Link</a>
  <a href="#" class="right">Link</a>
</div>